[2013-10-22 11:45] Bjwebb opened #1 "Only english codelists are currently in this repository"

[2013-10-25 13:41] Bjwebb opened #2 "ActivityDateType codelist has names that look more like descriptions"
Also, the french is a translation of the code, rather than of the name.

[2013-10-25 13:42] #1 closed, assigned to nobody

[2013-12-02 08:59] wendyrogers opened #3 "Add Full Descriptions To All Codelist Values"
Raised from Zendesk ticket #898.

Please develop a set of fuller descriptions to describe the values and also when each value should be used.

[2013-12-04 09:46] caprenter opened #4 "Linking to external codelists"
Where forexample in a codelists that is for vocabularies, we should provide a link to more information about each option - this could be a URL in the description, or the codelist schema could include the external source as an element, or...

discuss!

[2014-01-10 11:28] Bjwebb opened #6 "Does FinanceType-category belong in external codelists?"

[2014-01-10 11:35] Bjwebb opened #7 "Should ValueType be here?"
https://github.com/IATI/IATI-Codelists/blob/22d1d266e517d67b9cd3c8c3189d2db6ab72639c/xml/ValueType.xml is not an IATI codelist?

[2014-01-10 11:43] Bjwebb opened #8 "Add vocabularly restrictions"
- [x] Budget Identifier
- [x] Recipient region
- [x] Sector

[2014-01-10 11:49] Bjwebb opened #9 "Add support for generating codelists in the legacy XML format"

[2014-01-10 11:50] stevieflow opened #10 "XDR on currency code list"
This needs to be added, at some point

[2014-01-10 11:54] Bjwebb commented on #10
This is an issue for https://github.com/IATI/IATI-Codelists-NonEmbedded

There's also the question of whether we want to manually add anything, or try to build an automatic process to do it.

[2014-01-10 11:59] stevieflow commented on #10
Ah.  Can we reassign this issue ?

[2014-01-10 12:02] Bjwebb commented on #10
No, it needs to be added. My question before we do so, is whether the issue is really 'XDR should be added' or whether it's really 'We should go through and update all external codelists'

[2014-01-10 12:03] Bjwebb opened #11 "Add support for generating codelists in the legacy XML format"

[2014-01-10 12:06] stevieflow commented on #10
We need the document circulating first of all imho - let's check this on Monday

[2014-01-10 12:06] #10 closed, assigned to nobody

[2014-01-10 12:14] Bjwebb commented on #11
Oops. Duplicate of https://github.com/IATI/IATI-Codelists/issues/9

[2014-01-10 12:15] #11 closed, assigned to Bjwebb

[2014-01-10 12:25] Bjwebb opened #12 "Add extra codelist metadata"
- [x] Complete
- [x] Name
- [x] Source
- [x] Label (ie. human readable name)

Some of this should come from the old metadata - http://data.aidinfolabs.org/data/codelist/CollaborationType/metadata.xml

[2014-01-14 12:58] caprenter opened #13 "Indicator Measure Codelist should have text and NDP as options"
Indicator Measure Codelist should have text as an option

Should also have NDP - NDP stands for Numeric Decimal Percentage

[2014-01-21 15:39] caprenter commented on #4
This has come up in the 1.04 proposed changes.
Here for example:
https://docs.google.com/spreadsheet/ccc?key=0AnWngmdQt3stdFNxVS1NdmpzSnR3aTBmUG1OWS1uZXc&usp=drive_web#gid=15

URLs are provided and I think are supposed to be on the codelist.

[2014-01-21 15:42] caprenter opened #14 "1.04 Codelists"
We need to take a look at this spreadsheet, and create some new codelists.
https://docs.google.com/spreadsheet/ccc?key=0AnWngmdQt3stdFNxVS1NdmpzSnR3aTBmUG1OWS1uZXc&usp=drive_web#gid=0
We may need to agree on naming conventions and how they fit into the SSOT.

[2014-01-23 12:08] Bjwebb commented on #6
Also SectorCategory

[2014-01-23 12:58] Bjwebb opened #15 "IATI-Codelists-External is now IATI-Codelists-NonEmbedded"

[2014-01-23 13:00] #6 closed, assigned to Bjwebb

[2014-01-23 14:35] Bjwebb opened #16 "Outputted CSVs have indentation in description"
e.g. http://dev.iatistandard.org/codelists/Sector.html

[2014-01-23 14:47] #7 closed, assigned to nobody

[2014-01-23 14:55] caprenter opened #17 "Document better how the IATI-Codelist-NonEmbedded repository is used"
This repo https://github.com/IATI/IATI-Codelists-NonEmbedded is required by IATI-Codelists and the SSOT, but it's not all that clear:

[2014-01-23 15:53] caprenter opened #18 "URLs in Codelists"
In this document, links are given to the source of codelists:
https://docs.google.com/spreadsheet/ccc?key=0AnWngmdQt3stdFNxVS1NdmpzSnR3aTBmUG1OWS1uZXc&usp=drive_web#gid=15

How should our codelists deal with these URLs. In this case the URL endpoints are not machine readable as such. Would that make a difference if they were?

[2014-01-23 20:38] #15 closed, assigned to nobody

[2014-01-27 11:40] Bjwebb commented on #17
I've made a start at this - https://github.com/IATI/IATI-Codelists/commit/78bee08d5e2a14d506a739167b0d3e1cf203917d

[2014-01-27 12:05] #17 closed, assigned to Bjwebb

[2014-03-03 16:05] Bjwebb commented on #14
I believe this has now been done at https://github.com/IATI/IATI-Codelists/tree/1.04dev

[2014-03-03 16:05] #14 closed, assigned to Bjwebb

[2014-03-04 10:08] Bjwebb commented on #9
Added individual codelist files. Next need to add the index XML and JSON http://data.aidinfolabs.org/data/codelist.xml

[2014-03-04 10:09] #16 closed, assigned to Bjwebb

[2014-03-04 12:26] Bjwebb commented on #18
This is a duplicate of https://github.com/IATI/IATI-Codelists/issues/4

[2014-03-04 12:26] #18 closed, assigned to nobody

[2014-03-04 12:27] Bjwebb commented on #4
From the other issue:
"How should our codelists deal with these URLs. In this case the URL endpoints are not machine readable as such. Would that make a difference if they were?"

[2014-03-05 11:37] #9 closed, assigned to Bjwebb

[2014-03-18 11:48] Bjwebb opened #21 "Why is Location Type not a complete codelist?"
https://github.com/IATI/IATI-Codelists/blob/master/xml/LocationType.xml

[2014-03-19 09:53] Bjwebb commented on #4
Since we also need to add urls when we add the [registration agency list](https://docs.google.com/spreadsheet/ccc?key=0AnWngmdQt3stdFppMWdkcXJqVTRWTk9menR1N0FXNGc&usp=drive_web#gid=0) I think the best approach to this is to add an extra `url` element containing within a `<codelist-item>`.

The advantage of `url` as an element name over `website` as it it is more inclusive of the fact that linked c

[2014-03-24 16:11] Bjwebb commented on #12
Codelist names added except for new categories https://github.com/IATI/IATI-Standard-SSOT/issues/28

[2014-03-25 14:02] caprenter commented on #4
Good!

[2014-03-27 12:13] Bjwebb opened #22 "Multilingual codelist json is not generated correctly"

[2014-03-27 12:29] #4 closed, assigned to Bjwebb

[2014-03-27 12:59] #12 closed, assigned to Bjwebb

[2014-03-27 13:00] Bjwebb opened #23 "Decide what format the source codelist mapping should be in"
http://support.iatistandard.org/entries/27805388-Mapping-between-codelists-and-schemas

[2014-03-27 17:16] Bjwebb commented on #23
@caprenter suggests we use the mapping I made.

[2014-03-27 17:16] #23 closed, assigned to nobody

[2014-03-28 19:07] #22 closed, assigned to Bjwebb

[2014-03-31 18:08] #8 closed, assigned to Bjwebb

[2014-04-09 14:20] Bjwebb opened #25 "Implement 2.01 "3. Language neutral codelists""
This is section 3 on the thematic overview: http://support.iatistandard.org/entries/45539933-Thematic-content-agreed-by-IATI-Steering-Committee

http://support.iatistandard.org/entries/57958296-Version-2-01-Iteration-1-3-Language-Neutral-Code-lists

This applies to:
- http://dev.iatistandard.org/201/codelists/ActivityDateType/
- http://dev.iatistandard.org/201/codelists/GazetteerAgency/
- http://d

[2014-04-09 15:45] stevieflow opened #26 "File Format"
If this is a "partial" list - suggest we add open document formats to it:

http://dev.iatistandard.org/codelists/FileFormat/

In examples, I am citing .odt, for example

[2014-04-09 16:37] Bjwebb commented on #26
According to http://www.iana.org/assignments/media-types/media-types.xhtml#application the following opendocument mimetypes exist:

[code]

Of these, I propose that only the following 3 are added to our list (since they're the most common and also in line with the microsoft file formats on the list):

[code]

[2014-04-09 16:40] stevieflow commented on #26
So
format="application/odt"

should be

format="vnd.oasis.opendocument.text" ?

[2014-04-09 16:44] Bjwebb commented on #26
No, it should be:

[2014-04-09 16:47] Bjwebb commented on #26
All the open document mimetypes should start with `application/` btw. I've updated my previous comment to reflect this.

[2014-04-09 16:48] stevieflow commented on #26
Added these to: https://github.com/IATI/IATI-Extra-Documentation/tree/organisation-standard

@Bjwebb does this mean that other format examples on this codelist could be incorrect?

[2014-04-09 16:53] Bjwebb commented on #26
All the other examples look to be correct.

[2014-04-10 09:43] Bjwebb commented on #26
If we add the open document formats to our list, we should probably also add the newer microsoft formats.
e.g.

[code]

[2014-04-10 14:30] Bjwebb commented on #25
I suggest that we simply rename the codes (ie. delete the old ones), instead of deprecating. http://support.iatistandard.org/entries/51310806-Delete-don-t-just-deprecate-codes-in-2-01

[2014-04-11 14:17] Bjwebb commented on #26
This issue will be moot if we import all of the codes from the IANA list https://github.com/IATI/IATI-Codelists-NonEmbedded/issues/7

[2014-04-14 10:42] Bjwebb opened #27 "UNSALB website down, and public access removed"
http://dev.iatistandard.org/codelists/GeographicVocabulary/
- http://www.unsalb.org/ errors
- Public access has been removed - http://www.ungiwg.org/content/united-nations-international-and-administrative-boundaries-resources

A description should be added to the codelist to make other people aware of this.

[2014-04-14 13:16] stevieflow opened #28 "DocumentCategory - change Agency to Organisation (type B)"
To keep this in line with the Organisation standard, suggest to update this reference

This does not involve changing any codelist item - more the descriptor for category type B

[2014-04-15 08:48] Bjwebb commented on #21
Because it should contain all of the US NGA Feature Designation Codes found at http://geonames.nga.mil/ggmagaz/

I hadn't realised this, and as part of my work on 1.04, imported the full list into a separate codelist (GeographicFeatureDesignation). I will now rename this new codelist to LocationType, and remove the old partial LocationType.

[2014-04-15 08:56] #21 closed, assigned to Bjwebb

[2014-04-15 09:39] Bjwebb commented on #25
Following discussion with @bill-anderson I'm going to implement this in Iteration 1 by replacing (deleting the old codes), instead of deprecating.

[2014-04-15 14:35] #28 closed, assigned to nobody

[2014-04-15 15:29] Bjwebb commented on #26
This issue is now no longer relevant now that we've imported the full list.

[2014-04-15 15:29] #26 closed, assigned to nobody

[2014-04-15 16:05] Bjwebb opened #30 "Rename codelist versions to be more explicit"
clv1 instead of v1 or Old Format
clv2 instead of New Format

clv = Code List API/Format version

[2014-04-16 10:38] #30 closed, assigned to Bjwebb

[2014-04-16 10:46] #27 closed, assigned to Bjwebb

[2014-04-16 16:08] Bjwebb commented on #13
Related to https://github.com/IATI/IATI-Schemas/issues/41

[2014-04-16 16:08] Bjwebb commented on #13
Posted on the upgrades forum at http://support.iatistandard.org/entries/50136483-Add-NDP-to-IndicatorMeasure-codelist

[2014-04-23 07:53] stevieflow opened #31 "FlowType - code 40"
http://dev.iatistandard.org/codelists/FlowType/

Code 40 `Non flow` might want the (eg GNI) moving to description rather than name

In terms of descriptions, these are not present in the latest DAC codelist

[2014-04-23 07:55] stevieflow opened #32 "CollaborationType - missing code 7"
Code 7 on DAC codelist:

7   Bilateral, ex-post reporting on NGOs’ activities funded through core contributions

[2014-04-23 08:51] Bjwebb commented on #32
Do you have any information about when this code was added?

Also, bugs about non-embedded codelists would probably be best reported against that repository https://github.com/IATI/IATI-Codelists-NonEmbedded/issues?milestone=1&state=open

[2014-04-23 09:12] stevieflow commented on #32
OK - shall I log that there instead?

There was an issue here: http://support.iatistandard.org/entries/21871373-Collaboration-Type-Code-List - but nothing about code 7.  Any insight @bill-anderson ?

[2014-04-23 15:13] bill-anderson opened #33 "Organisation Role - "Accountable""
It was agreed in Montreal that we should remove this code in 2.01

[2014-04-24 16:03] caprenter opened #34 "codelists.xsd exists in all branches"
Not sure if this is an issue or not, but now that we have a branch for each version of the standard then the codelists.xsd ends up being versioned with that version of the standard. I don't think this is what is intended.

Instead the codelist.xsd should be version controlled by itself?

Came across this as https://github.com/IATI/IATI-Codelists/blob/master/codelist.xsd 404's - reported https://gi

[2014-04-24 16:20] stevieflow opened #35 "vocabulary codelist should be SectorVocabulary"
Proposed by @bill-anderson

[2014-04-28 14:02] Bjwebb commented on #34
I think it belongs in the Codelists repository. Although it has some problems, it makes sense to version the changes of it along with the standard.

[2014-04-28 14:02] #34 closed, assigned to Bjwebb

[2014-05-01 16:31] bill-anderson opened #37 "ISO Country Codes are out of date"
http://dev.iatistandard.org/codelists/downloads/clv2/csv/en/Country.csv contains

PS - PALESTINIAN TERRITORY, OCCUPIED

This should be

PS - Palestine, State Of

(and https://www.iso.org/obp/ui/#search isn't all upper case)

[2014-05-01 16:41] Bjwebb commented on #37
Yes, this should be fixed once I pull from the ISO XML directly - https://github.com/IATI/IATI-Codelists-NonEmbedded/issues/8 -  I hope to be able to look into this next week.

[2014-05-07 09:28] caprenter commented on #37
It's worth remembering that we don not yet have an agreed process on how we update non-embedded codelists and how we communicate those changes.

I would suggest that the steps would include:
1) Being made aware of a change
2) Agreeing what change should be made, and when it should happen (internally/externally/with or without an announcement ?)
3) Implementing (and testing) the change
4) Logging t

[2014-05-08 17:52] stevieflow opened #38 "No link from codelist to codelist API page"
This would be important to help clarify the difference between CLv1 and CLv2

eg: http://iatistandard.org/codelists/ActivityStatus/ - no link to

http://iatistandard.org/codelists/codelist-api/

[2014-05-08 17:54] stevieflow commented on #38
In this context, we might also be able to elaborate/clarify on the labels `Current` and `New`

[2014-05-29 13:44] caprenter commented on #25
See: http://support.iatistandard.org/entries/57958296-Version-2-01-Iteration-1-3-Language-Neutral-Code-lists
for an update.

Seems to me that there are 2 more changes to make:
- [x] "There was consensus at the Montreal TAG that "accountable" should be removed from the list" https://github.com/IATI/IATI-Codelists/issues/33
- [x] "Change name to SectorVocabulary" (from Vocabulary)

[2014-06-03 13:57] stevieflow opened #40 "Broken link - clv1 - JSON"
From @davidrs

I just wanted to let you know I found a 404 page while getting country codes:

I was on this page:
http://iatistandard.org/codelists/Country/

And tried selecting CLv1 (Current): JSON
Which took me to this with a 404: http://iatistandard.org/codelists/clv1/codelist/Country.json

[2014-06-03 14:02] stevieflow commented on #40
Link should be http://iatistandard.org/codelists/downloads/clv1/codelist/Country.json (missing downloads dir)

[2014-06-05 17:46] #40 closed, assigned to nobody

[2014-06-10 14:29] caprenter commented on #25
Removing 'accountable' from the OrgansiationRole list will mean renaming the codes on that list as set in this commit: https://github.com/IATI/IATI-Codelists/commit/7c6b2228b3e1483aec431ba3194684441a6eaa32 unless we want to start the codes at '2'.

[2014-06-10 14:31] caprenter commented on #25
We want to follow the same conventions in the codelist xml as adopted in the activity schema for handling translations - this is yet to be agreed, but will mean altering the underlying codelist schema.

[2014-06-10 14:33] bill-anderson commented on #25
Agree we should renumber codes

[2014-06-10 14:48] Bjwebb commented on #2
Moving this into a 2.01 milestone, as I think sorting these names out is important for making the new numeric codes easier to understand.

[2014-06-11 10:28] Bjwebb commented on #25
I've now removed Accountable and renumbered [OrganisationRole](http://dev.iatistandard.org/201/codelists/OrganisationRole/) and done the rename to [SectorVocabulary](http://dev.iatistandard.org/201/codelists/SectorVocabulary/)

A couple of questions about SectorVocabulary:
- I numbered this in the order the codes were previously on the list. This makes the DAC codes `3` and `4`. Should these be re

[2014-06-11 10:37] caprenter commented on #25
Just a note that policy marker is under consideration on the Modifications forum as well:
http://support.iatistandard.org/entries/52320903-New-Policy-Markers-Significance-Codes

[2014-06-16 13:20] Bjwebb commented on #35
This has been done here: https://github.com/IATI/IATI-Codelists/issues/25#issuecomment-44532605

[2014-06-16 13:20] #35 closed, assigned to nobody

[2014-06-16 13:52] Bjwebb commented on #25
I've added before/after tables of these codelists to the new 2.01 changelog: https://github.com/IATI/IATI-Guidance/blob/master/en/upgrades/decimal-upgrade-to-2-01/2-01-changes.rst#codelist-changes

[2014-06-16 14:36] Bjwebb commented on #33
This was removed in this commit https://github.com/IATI/IATI-Codelists/commit/8b3edd78ad82b95a784d9d92dffda3836ae8101b

[2014-06-26 21:26] Bjwebb opened #42 "Implement 2.01 "Addition to RelatedActivityType Codelist""
http://support.iatistandard.org/entries/76862583-Referencing-another-publisher-s-report-of-the-same-activity

[2014-06-26 21:28] Bjwebb opened #43 "Implement 2.01 "Vocabulary Codelists""
http://support.iatistandard.org/entries/78019646-Separate-vocabulary-codelists

[2014-06-30 15:51] #25 closed, assigned to nobody

[2014-07-03 20:43] Bjwebb commented on #38
There is now a link: http://dev.iatistandard.org/codelists/ActivityStatus/

I've created a separate issue for elaborating/clarifying the current/new labels https://github.com/IATI/IATI-Extra-Documentation/issues/191

[2014-07-03 20:43] #38 closed, assigned to Bjwebb

[2014-07-31 10:16] Bjwebb commented on #42
@bill-anderson Need a name for the new code before I can usefully add it.

[2014-08-12 06:23] Bjwebb commented on #43
So far the Vocabulary codelist has been renamed SectorVocabulary. Still to do
- [x] Add a new PolicyMarkerVocabulary codelist
- [x] Remove non-sector related items removed from the SectorVocabulary codelist.

[2014-08-12 06:27] Bjwebb opened #44 "Add new uses of codes to codelist mapping file"
Currently missing:
- [x] Elements replicated at transaction level https://github.com/IATI/IATI-Schemas/issues/70
- [x] `planned-disbursement/@type` https://github.com/IATI/IATI-Schemas/issues/117
- [x] `iati-organisation/document-link/recipient-country` https://github.com/IATI/IATI-Schemas/issues/124
- [x] Make sure mapping of Version codelist is up to date with removed iati-activity/@version http

[2014-08-12 06:34] Bjwebb commented on #43
@bill-anderson Which codes should remain on the [SectorVocabulary codelist](http://dev.iatistandard.org/201/codelists/SectorVocabulary/)? I know we want the two DAC codes on there, and Reporting Org specific, but what about the others?

[2014-08-12 06:36] Bjwebb commented on #43
BTW, current use can be seen on the dashboard: http://dev.dashboard.iatistandard.org/codelist/sector_@vocabulary.html

Not sure how useful this is, as some people seem to be using AidData as a sector vocabulary, when I'd heard it said it was only used for policy markers.

[2014-08-12 06:55] Bjwebb commented on #43
@bill-anderson Could you also check whether the [PolicyMarkerVocabulary codelist](http://dev.iatistandard.org/201/codelists/PolicyMarkerVocabulary/) has al the items it should. Specifically, what is the vocabulary corresponding to our [PolicyMarker](http://dev.iatistandard.org/201/codelists/PolicyMarker) list? (I think it's an IATI maintained list based on DAC columns, so I'm not sure what we shou

[2014-08-12 09:23] #2 closed, assigned to Bjwebb

[2014-08-12 10:05] Bjwebb opened #45 "Review names/descriptions of codelists and codes"
These all need checking really, but some specific issues are:
- [x] Inconsistent usage of "OECD Development Assistance Committee" vs "OECD DAC"
- [x] [OrganisationRole](http://dev.iatistandard.org/201/codelists/OrganisationRole/) is described as "The categories of DAC Sector codes". Is this correct?

[2014-08-12 10:08] bill-anderson commented on #45
"OECD" and "DAC" should be in glossary and not spelled out elsewhere

[2014-08-12 10:09] Bjwebb commented on #45
@bill-anderson [OrganisationRole](http://dev.iatistandard.org/201/codelists/OrganisationRole/) is described as "The categories of DAC Sector codes". Is this correct?

[2014-08-12 10:18] bill-anderson commented on #45
"AN IATI code for the role of an organisation within an activity. An organisation can play more than one role within an activity."

[2014-08-12 13:01] bill-anderson commented on #42
@bill-anderson to add to discussion. Rename multifunded to cofunded, (and change definition). And add new code Other

[2014-08-12 13:02] Bjwebb commented on #45
In terms of generally reviewing codelist descriptions, it seems this has been raised before: https://github.com/IATI/IATI-Codelists/issues/3

[2014-08-12 13:11] bill-anderson opened #46 "Description Types"
@bill-anderson to reply to Akvo proposing extension
See: http://support.iatistandard.org/entries/22922878-Description-type-extend-the-codelist

[2014-08-12 13:25] bill-anderson opened #47 "Activity Status - Suspended"
http://support.iatistandard.org/entries/43247528-Activity-Status-Suspended-

@bill-anderson to add note of warning on forum re: forward-looking budget calculations

[2014-08-12 14:02] bill-anderson commented on #32
7 = Bilateral, ex-post reporting on NGOs’ activities funded through core contributions

Seems to have been around for some time. Definitely not new

[2014-08-12 14:12] Bjwebb commented on #32
Should it be added?

I guess the appropriate place to post this is now http://support.iatistandard.org/forums/23076626-Non-embedded-Codelist-Amendments

[2014-08-12 14:15] bill-anderson commented on #32
Yes, and yes

[2014-08-12 15:04] Bjwebb opened #48 "Review the numbering of all newly numeric codes"
Steven made a [comment about the ActivityDateType numbering](http://support.iatistandard.org/entries/41042407-Modify-code-list-activity-date-type-Language-neutral-conversion#view-post-25992316), but we should check the other codelists too:

http://dev.iatistandard.org/201/codelists/ActivityDateType/
http://dev.iatistandard.org/201/codelists/GazetteerAgency/
http://dev.iatistandard.org/201/codelist

[2014-08-13 06:46] stevieflow commented on #32
Have added: http://support.iatistandard.org/entries/96520726-Collaboration-Type-addition-of-code-7

@bill-anderson any idea what "ex-post reporting on NGOs’ activities" means?

[2014-08-13 08:11] bill-anderson commented on #32
http://www.investopedia.com/terms/e/expost.asp

From: Steven Flower [mailto:notifications@github.com]
Sent: 13 August 2014 07:46
To: IATI/IATI-Codelists
Cc: Bill Anderson
Subject: Re: [IATI-Codelists] CollaborationType - missing code 7 (#32)

Have added: http://support.iatistandard.org/entries/96520726-Collaboration-Type-addition-of-code-7

@bill-andersonhttps://github.com/bill-anderson any idea w

[2014-08-13 08:17] #32 closed, assigned to bill-anderson

[2014-08-14 15:24] bill-anderson commented on #47
done

[2014-08-15 08:42] stevieflow commented on #37
Is this issue still live?

[2014-08-15 09:45] Bjwebb commented on #37
Yes. I've not had chance to finish my work around pulling external codelists yet.

[2014-08-18 14:49] Bjwebb commented on #47
I've added suspended to the list.

@bill-anderson All the other codes on that list have French translations of the names, do we need one for "Suspended" too. If so, who should we ask to translate it?

[2014-08-18 14:58] Bjwebb commented on #48
@bill-anderson Could you review the new numbering used for each of these codelists?

[2014-08-18 16:11] Bjwebb commented on #31
@bill-anderson Do you know where the descriptions are from?

What should we do about these descriptions?

(Also note this is a NonEmbedded codelist, so this is not actually a 1.05 change per se).

[2014-08-19 03:57] bill-anderson commented on #31
I can only assume they come from an earlier version of the list in the dac spreadsheet. Standard rules apply: they need to be changed to match the current authority list

[2014-08-19 03:59] bill-anderson commented on #3
What are you asking me to do?

[2014-08-19 09:47] Bjwebb commented on #3
@bill-anderson To write/review descriptions for codes on Embedded codelists (much like you did for schema descriptions). Alternatively, to decide whether we should do this for 2.01, or whether it should be part of a future upgrade.

[2014-08-19 09:48] bill-anderson commented on #3
All????????
This will take a day next week sometime

[2014-08-19 11:56] Bjwebb opened #49 "Update source codelist XML format to be consistent with new activity XML"
ie. update the XML so that instead of repeated elements with the xml:lang attribute we have narrative subelements.

[2014-08-19 15:28] Bjwebb opened #50 "Add default to Region condition in mapping"
https://github.com/IATI/IATI-Codelists/blob/340d32ef69ef40e8db2573dceb0efd9b8ef8e507/mapping.xml#L166

Note this fix should maybe also be applied to 1.04

[2014-08-19 15:30] Bjwebb opened #51 "Updating mapping conditions to use new numeric codes"

[2014-08-21 16:01] #44 closed, assigned to Bjwebb

[2014-08-21 16:09] #50 closed, assigned to Bjwebb

[2014-08-21 16:23] #31 closed, assigned to Bjwebb

[2014-08-22 12:06] Bjwebb commented on #48
Another proposal might be to ensure that the default value for a Vocabulary is always numbered 1. ie. that SectorVocabulary has code 1 as 5 digit DAC codes. Note that SectorVocabulary probably also has too many codes on it, see https://github.com/IATI/IATI-Codelists/issues/43

[2014-08-22 12:21] Bjwebb commented on #51
Note that this will need to be changed if the codes are renumbered before release: https://github.com/IATI/IATI-Codelists/issues/48

[2014-08-22 16:27] Bjwebb commented on #3
@bill-anderson Yes, I'm aware that this is a big task. I think it's up to you to decide what should be done, and when. It's possible some of this task could be done by someone else, but it would likely involve asking you lots of questions.

[2014-08-26 15:40] caprenter commented on #33
It needs to go back in again. Following feedback in the process (after Iteration 2), the decision to keep 'accountable' as an option has been taken:
http://support.iatistandard.org/entries/41095068-Deprecate-code-list-organisation-role-accountable

This change needs to be reversed.

[2014-09-01 11:06] caprenter opened #52 "Fix Description For Transcation Type Incoming Funds"
This is part of the 1.05 upgrade proposals:
http://support.iatistandard.org/entries/50777388

where a fix is given.

This change also needs to be carried over into 2.01

[2014-09-01 11:35] caprenter commented on #42
This is also a 1.05 issue - see the post at:
http://support.iatistandard.org/entries/54201556-related-activity-new-code

[2014-09-01 12:45] caprenter commented on #47
@Bjwebb To complete this task, we need to
- [x] cherry pick this commit and add it to the 1.05 branch
- [x] get the translation in place (I have asked on the forum)
- [x] ensure the change is reflected in the changelog(s)

[2014-09-01 15:09] caprenter opened #54 "Add new DocumentCategory values"
1.05 sees the addition of a new set of codes/values for Document Category.
See: http://support.iatistandard.org/entries/86661313-Document-Types-

[2014-09-01 15:35] caprenter opened #55 "Policy Markers & Significance Codes"
From http://support.iatistandard.org/entries/52320903-New-Policy-Markers-Significance-Codes
- [x] Add to Policy Marker codelist: http://iatistandard.org/codelists/PolicyMarker/
  9 - Reproductive, Maternal, Newborn and Child Health (RMNCH)

Tasks below are to a non-embedded codelist. See: https://github.com/IATI/IATI-Codelists-NonEmbedded/issues/19
- [x] Add to Policy Significance codelist: http:/

[2014-09-02 11:56] Bjwebb commented on #13
Closing this issue, as further discussion should happen on the forum.

[2014-09-02 11:56] #13 closed, assigned to nobody

[2014-09-02 12:10] Bjwebb commented on #47
I mistakenly added this to the 2.01 milestone and branch, when I thought it should be 2.01. As such, you're right, it needs cherry picking onto the 1.05 branch. (Doesn't need removing from the 2.01 branch as all 1.05 changes will be merged in before going live anyway).

[2014-09-02 12:20] Bjwebb opened #56 "Renumber new DocumentCategory codes to avoid conflict with 1.05"
Previously added at https://github.com/IATI/IATI-Codelists/commit/d8211389d704e4b42c591d1399eb5a9628273032 now conflict with https://github.com/IATI/IATI-Codelists/issues/54

[2014-09-02 12:23] #52 closed, assigned to caprenter

[2014-09-02 13:39] Bjwebb commented on #46
Still missing a French translation.

[2014-09-02 14:08] #54 closed, assigned to caprenter

[2014-09-02 14:28] #46 closed, assigned to bill-anderson

[2014-09-02 14:28] #47 closed, assigned to Bjwebb

[2014-09-02 14:47] caprenter opened #57 "Add RO2 to vocabulary codelist"
For 1.05 we have this issue where we propose adding a second "Reporting Organisation" vocabulary.
http://support.iatistandard.org/entries/22916773-Add-US-Sector-Framework-to-the-Vocabulary-Codelist

[2014-09-02 14:48] caprenter opened #58 "Set up travis for codelist upgrade test"
Need to alter our travis set up to accomodate the new tests

[2014-09-02 16:35] #57 closed, assigned to caprenter

[2014-09-02 16:45] caprenter opened #60 "Poor translation on Vocabulary codelist"
The translation of RO name into French is not very good:
"Reporting Organisation (i.e. maintained by the organisation referred to in the &lt;reporting-org&gt; element."
translates as:
"Organisation déclarante (i.e. maintained by the organisation referred to in the &lt;reporting-org&gt; element."

[2014-09-02 16:59] bill-anderson commented on #48
Agree with 1 = default value. Not fussed about others. I'm sure @stevieflow will have a grand plan

[2014-09-02 17:06] bill-anderson commented on #43
SectorVocabulary
1 - OECD DAC CRS Purpose Codes (5 digit)
2 - OECD DAC CRS Purpose Codes (3 digit)
3 - Classification of the Functions of Government (UN)
4 - Statistical classification of economic activities in the European Community
5 - National Taxonomy for Exempt Entities (USA)
98 -Reporting Organisation 2
99 - Reporting Organisation

PolicyMarkerVocabulary
1 - OECD DAC CRS
99 = Reporting Organ

[2014-09-02 17:16] bill-anderson commented on #42
Herman's discussion on http://support.iatistandard.org/entries/76862583-Referencing-another-publisher-s-report-of-the-same-activity is wrong. So this is not needed in 2.01 as all sorfed in 1,5

Comment added

[2014-09-03 08:27] stevieflow commented on #48
The concern with `ActivityDate` was that the numeric codes may not have "flowed".  Granted, this may seem arbitary, but we might want to decide whether to order the numbers by date period (start dates, then end dates) rather type (actuals, then planned)....

[2014-09-03 10:12] caprenter commented on #42
All 1.05 codelist changes are being applied in 2.01.

@bill-anderson This issue still needs the following clarifications:
- [x] You say above that you need to "Rename multifunded to cofunded, (and change definition)" this still needs doing
- [x] You refer to the code as both 'Other' and 'Third Party' in various places - which is it please?

[You use 'Other' above. 'Third party' in the issue here:

[2014-09-03 10:20] bill-anderson commented on #42
Yes, rename multifunded to Co-funded.
Description. An activity that receives funding from more than one organisation.

I think "Third Party" is better.

5 - Third Party - A report by another organisation on the same activity (excluding activities reported as part of financial transactions - eg. provider-activity-id - or a co-funded activity using code = 4)

[2014-09-03 10:45] caprenter commented on #3
@bill-anderson This is set as a task for the 2.01 Iteration 3 milestone - now due in a few days.
What's the plan?

[2014-09-03 10:51] bill-anderson commented on #3
I am not in a position to do this in the next week. I suggest that @stevieflow and @iatisupport work on it and I can review at the end of next week.

[2014-09-03 11:41] caprenter commented on #3
@bill-anderson Changes to Embedded codelists can only occur during the change control process.
(Changes to non-embedded ones could be brought up as a separate issue)
IMHO I think this means this cannot now happen in 2.01

[2014-09-03 11:46] bill-anderson commented on #3
If we were talking about codes, or substantive changes to the meaning of codes, I would agree. Improving wording of descriptions is a grey, less-critical area. I think we can put 'fixes' through during the final processes

[2014-09-03 12:08] #33 closed, assigned to Bjwebb

[2014-09-03 12:10] Bjwebb commented on #43
I've now made this change:
- http://dev.iatistandard.org/201/codelists/SectorVocabulary/
- http://dev.iatistandard.org/201/codelists/PolicyMarkerVocabulary/

Remaining tasks:
- [x] @bill-anderson Do we need to communicate more explicitly (on the support forum) that the AidData, ISO and World Bank codes have been removed as a result of this change.
- [x] Update the French translations based on your

[2014-09-03 12:24] bill-anderson commented on #43
" @bill-anderson Do we need to communicate more explicitly (on the support forum) that the AidData, ISO and World Bank codes have been removed as a result of this change."

I have just looked at dashboard ...
- Third parties are using Aiddata so I think we should leave it in
- ISO and World Bank are only being used in error so I would get the two publishers to fix their data
- World Bank itself is

[2014-09-03 12:35] Bjwebb commented on #43
@bill-anderson To clarify, AidData should be on the SectorVocabulary codelist, and not the PolicyMarkerVocabulary codelist?

[2014-09-03 13:01] bill-anderson commented on #43
Yes

[2014-09-03 13:12] #42 closed, assigned to caprenter

[2014-09-03 15:27] stevieflow commented on #3
@izzirbucknall will look into this

[2014-09-03 17:49] Bjwebb commented on #48
Renumbered SectorVocabulary in [this commit](https://github.com/IATI/IATI-Codelists/commit/8416c68080b28ed236dff5989ba77559160c6ba2). I've glanced through the other codelists, and the only other potential issue I spot is [OrganisationRole](http://dev.iatistandard.org/201/codelists/OrganisationRole/) now has Accountable as code 1 (because I numbered them alphabetically), but Accountable is actually

[2014-09-03 17:51] #45 closed, assigned to Bjwebb

[2014-09-03 17:55] #51 closed, assigned to nobody

[2014-09-03 18:04] #56 closed, assigned to Bjwebb

[2014-09-04 09:41] stevieflow commented on #48
ok thanks

Agree with the new numbers for `ActivityDateType`

@bill-anderson any thoughts on `OrganisationRole` ?

[2014-09-04 11:00] #55 closed, assigned to caprenter

[2014-09-08 10:20] Bjwebb commented on #49
The format has been updated on the `codelist-xml-v3` branch, but the code generating the codelist API needs to be updated in light of this. We also need to decide whether to update the NonEmbedded codelists to this new format, and how to modify the version-1.0x SSOT branches so they can use this new format.

The xsd for the new codelist format is here: https://github.com/IATI/IATI-Codelists/blob/e

[2014-09-08 12:51] Bjwebb opened #62 "Add vocabulary condition to policy marker mapping"
ie. policy-marker/@code only needs to be on the PolicyMarker codelist when `@vocabulary = '1' or not(@vocabulary)`

(This needs doing for 1.04, 1.05 and 2.01)

Also need to check that other mappings have the appropirate conditions w.r.t. vocabularies.

[2014-09-08 15:46] Bjwebb commented on #62
Just checked, and all other examples of vocabularies have a condition, except for GeographicVocabulary which has no codelist in an IATI repository.

[2014-09-09 11:42] #62 closed, assigned to Bjwebb

[2014-09-10 14:39] #3 closed, assigned to nobody

[2014-09-11 08:47] stevieflow commented on #48
Looking at `OrganisationRole` - @bill-anderson

http://dev.iatistandard.org/201/codelists/OrganisationRole/

Could these be in a different order, perhaps?:

Funcing
Accountable
Extending
Implementing

[2014-09-11 08:49] bill-anderson commented on #48
Could be. I agree with whatever you think is best

[2014-09-11 08:52] stevieflow commented on #48
Definitive answer!

1 Funding
2 Accountable
3 Extending
4 Implementing

seems more in line with "flow" than:

1 Accountable
2 Extending
3 Funding
4 Implementing

? @jonihillman @iatisupport ?

[2014-09-11 10:50] wendyrogers commented on #48
Definitive answer looks about right to me!

[2014-09-11 11:45] stevieflow commented on #48
Do we take the revised order as a change for @Bjwebb to implement therefore?

[2014-09-11 11:48] bill-anderson commented on #48
As he said - "I agree with whatever you think is best"

[2014-09-16 15:28] Bjwebb commented on #49
- [x] What do we call the new/old formats. Currently I'm referring to this
  newest one as v3, as we already have a v1 and v2 of the codelist API. Is
  this a good approach to this? How to we link to the codelists on the
  website with the least amount of confusion.

[2014-09-16 16:02] Bjwebb commented on #3
See the bottom of http://support.iatistandard.org/entries/52106609-Version-2-01-Iteration-3-8-Miscellaneous for the 2.01 proposal for this.

[2014-09-18 14:58] bill-anderson opened #63 "Change to Tied Status"
http://dev.iatistandard.org/201/codelists/TiedStatus/

Description of 3 - Partially tied

Official Development Assistance for which the associated goods and services must be procured from a restricted number of countries which must however include substantially all aid recipient countries and can include the donor country.

[2014-09-23 11:02] stevieflow commented on #48
Assigned to @Bjwebb to implement

[2014-09-23 11:12] stevieflow opened #64 "Renumber OrganisationRole codelist"
From https://github.com/IATI/IATI-Codelists/issues/48#issuecomment-55236869:

1 Funding
2 Accountable
3 Extending
4 Implementing

[2014-09-23 11:16] stevieflow opened #65 "Renumber ActivityDateType codelist"
From https://github.com/IATI/IATI-Codelists/issues/48#issuecomment-54337024

[code]

[2014-09-23 11:20] stevieflow opened #66 "Renumber TransactionType codelist"
Started in https://github.com/IATI/IATI-Codelists/issues/48

The numeric order of these codes seems OK: http://dev.iatistandard.org/201/codelists/TransactionType/

The only thing I would question would be whether Incoming Funds should be `1` ...?

@bill-anderson @iatisupport

[2014-09-23 11:22] stevieflow commented on #48
@Bjwebb I have created new Issues for the three codelists that need renumbering

Aside from that, the only comment I can see in this Issue that may need some action is https://github.com/IATI/IATI-Codelists/issues/48#issuecomment-54337024 - is this correct (or can we close this?)?

[2014-09-23 11:35] Bjwebb commented on #65
I will also fix the descriptions at the same time: https://github.com/IATI/IATI-Codelists/commit/33b2174f8c2aeb42f277f8ad9d715b31233179bc#commitcomment-7837759

[2014-09-23 11:43] #65 closed, assigned to Bjwebb

[2014-09-23 11:53] #63 closed, assigned to Bjwebb

[2014-09-23 12:06] #64 closed, assigned to Bjwebb

[2014-09-23 12:09] Bjwebb commented on #48
I think this issue can now be closed.

[2014-09-23 12:09] #48 closed, assigned to Bjwebb

[2014-09-23 12:14] Bjwebb opened #67 "Add OtherIdentifierType codelist - descriptions"
http://support.iatistandard.org/entries/52824355-Version-2-01-Iteration-3-9-Organisation-and-Activity-Identifiers

[2014-09-23 14:49] Bjwebb commented on #67
- [ ] The codelist should also have descriptions for the codes.

[2014-09-23 15:18] Bjwebb commented on #67
- [x] Swap A1 and A2 https://github.com/IATI/IATI-Schemas/issues/228#issuecomment-56534954

[2014-09-24 11:25] caprenter commented on #43
I understand that the outstanding task here is to update the French translations on the SectorVocabulary codelist: https://github.com/IATI/IATI-Codelists/blob/version-2.01/xml/SectorVocabulary.xml

As this task is currently unassigned, assigning to Bill to decide who it should actually be assigned to!

[2014-09-24 13:43] stevieflow commented on #66
Assigning to @Bjwebb to implement, as reading that @bill-anderson has agreed

[2014-09-24 13:47] stevieflow commented on #67
@izzirbucknall this is a new codelist.  Do you think you could add the desription text via the spreadsheer?

[2014-09-24 14:08] #66 closed, assigned to stevieflow

[2014-09-24 15:22] caprenter commented on #60
See also; https://github.com/IATI/IATI-Codelists/issues/43

[2014-09-25 07:39] bill-anderson opened #68 "Add A3 to Other-Identifier Type"
[ Split out from https://github.com/IATI/IATI-Codelists/issues/67 ]

Need an additional code

A3 - Previous Activity Identifier

Description
The standard insists that once an activity has been reported to IATI its identifier MUST NOT be changed, even if the reporting organisation changes its organisation identifier. There may be exceptional circumstances in which this rule cannot be followed, in w

[2014-09-25 10:05] #68 closed, assigned to caprenter

[2014-09-25 10:56] Bjwebb opened #70 "Omissions from codelist mapping file"
`loan-status/@currency` and `forecast/@currency` are missing from the mapping file.

http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/crs-add/loan-status/
http://dev.iatistandard.org/201/activity-standard/iati-activities/iati-activity/fss/forecast/

[2014-09-25 11:02] Bjwebb commented on #70
This is a bug fix, so it should be made to 1.04, 1.05 and 2.01.

[2014-09-25 11:19] #70 closed, assigned to Bjwebb

[2014-09-25 11:32] Bjwebb commented on #49
I think we refer to this as CLv3 (version 3 of the codelist API). This will be available for 2.01 but not for 1.0x.

Remaining tasks:
- [x] Update the NonEmbedded codelists on the dev branch to the new format
- [x] Update the code in the version-1.0x branches to import new format NonEmbedded codelists
- [x] Update the version-2.01 SSOT code to expose the CLv3 API
- [x] Decide whether to change the

[2014-09-29 14:57] Bjwebb commented on #49
I've split the remaining tasks in separate issues, so closing this now.

[2014-09-29 14:57] #49 closed, assigned to Bjwebb

[2014-09-29 15:31] caprenter commented on #67
These descriptions will not be written by original milestone of 2.01 Final so moved to 2.01 Release Date milestone

[2014-09-29 15:45] caprenter commented on #43
There is a request into UNOPS to help with this. Re-assigning to new milestone

[2014-09-29 15:46] caprenter commented on #60
There is request for help on this with UNOPS

[2014-09-30 13:46] caprenter opened #71 "Add IATIOrganisationIdentifier to mapping file"
Does the new codelist IATIOrganisationIdentifier needs adding to the mapping file?

[2014-09-30 20:20] Bjwebb commented on #71
No. Or at least the mapping file doesn't currently support this, because no whole value is on the attribute, and the codelist only applies if the prefix matches.

[2014-10-07 14:12] caprenter commented on #71
ok  -- thanks

[2014-10-07 14:12] #71 closed, assigned to Bjwebb

[2014-10-21 14:01] #43 closed, assigned to caprenter

[2014-10-27 15:55] caprenter commented on #60
While UNOPS have helped with translations on version 2.01, this has not been addressed specifically.

So the issue remains as reported initially.

[2014-11-12 16:11] caprenter opened #73 "Scrap upgrade-tests"
The attempt at making tests to check that stuff that needs to be implemented in an upgrade is done, are to be scrapped.

They don't really do the job, and instead there is an audit trail via the support forum and GitHub issues, commit history etc that already exists and means we can track changes.

Need to be removed from all branches

[2014-11-12 16:12] caprenter commented on #58
Following discussion today, we're going to scrap these tests. See https://github.com/IATI/IATI-Codelists/issues/73

[2014-11-12 16:12] #58 closed, assigned to Bjwebb

[2014-12-12 08:38] stevieflow commented on #65
New ticket created in terms of updating the activity-date rules: https://github.com/IATI/IATI-Extra-Documentation/issues/291

[2014-12-15 15:59] #73 closed, assigned to caprenter

[2015-01-07 12:12] Bjwebb opened #76 "CHANGES.md has no context"
https://github.com/IATI/IATI-Codelists/blob/version-2.01/CHANGES.md

[2015-02-05 11:29] Bjwebb opened #79 "Add withdrawn attribute to JSON/CSV and old XML output"

[2015-02-11 12:40] #76 closed, assigned to Bjwebb

[2015-02-24 15:51] Bjwebb commented on #37
This should be fixed when https://github.com/IATI/IATI-Codelists-NonEmbedded/pull/51 is merged.

[2015-10-15 17:01] dalepotter opened #84 "Add new codelist: Budget Status"
This issue is generated from the accepted version 2.02 proposal 'Budgets and tentativeness': http://support.iatistandard.org/entries/21150501-Budgets-and-tentativeness

[2015-11-17 16:06] dalepotter opened #85 "Amend codelist: Version"
This issue arises as part of the process to create a new version of the standard.

A codelist value for version 2.02 should be added.

[2015-11-17 16:10] dalepotter opened #86 "Amend codelist: Sector Vocabulary"
This issue is generated from the accepted version 2.02 proposals 'Make sector vocabulary codelist 'SDG ready'' http://support.iatistandard.org/entries/105792233-Make-sector-vocabulary-codelist-SDG-ready- and 'Humanitarian Clusters': http://support.iatistandard.org/entries/106937886-Humanitarian-Clusters

[2015-11-17 16:17] dalepotter opened #87 "Amend codelist: Region Vocabulary"
This issue is generated from the accepted version 2.02 proposal 'Allow Organisations To Use Their Own Internally Defined Regions': http://support.iatistandard.org/entries/82936169-Allow-Organisations-To-Use-Their-Own-Internally-Defined-Regions-

[2015-11-17 16:19] dalepotter opened #88 "Amend codelist: Transaction Type"
This issue is generated from the accepted version 2.02 proposal 'Add 'Incoming Commitment' to the Transaction Type codelist': http://support.iatistandard.org/entries/82769745-Add-Incoming-Commitment-to-the-Transaction-Type-codelist

[2015-11-17 16:31] dalepotter commented on #85
This issue was moved to IATI/IATI-Codelists-NonEmbedded#88

[2015-11-17 16:31] #85 closed, assigned to nobody

[2015-11-18 16:05] dalepotter opened #89 "Amend codelist.xsd to include new attributes"
This issue is generated from the accepted version 2.02 proposal 'Add a _withdrawn_ flag to code names to indicate deprecation': http://support.iatistandard.org/entries/106345386-Add-a-withdrawn-flag-to-code-names-to-indicate-deprecation

[2015-12-09 16:30] #89 closed, assigned to nobody

[2015-12-09 16:30] #88 closed, assigned to nobody

[2015-12-09 16:30] #87 closed, assigned to nobody

[2015-12-09 16:30] #86 closed, assigned to nobody

[2015-12-09 16:30] #84 closed, assigned to nobody

[2016-04-01 08:45] WimVanDerZijden opened #90 "Duplicate code in BudgetIdentifier"
The codelist BudgetIdentifier contains a duplicate for the code 2.1.2:

[code]

[2016-04-01 09:33] WimVanDerZijden opened #91 "Duplicate code in BudgetIdentifierSector"
The codelist BudgetIdentifierSector contains an exact duplicate for code 1.3.

[code]

[2016-04-18 14:06] WimVanDerZijden opened #92 "OrganisationRegistrationAgency refers to non-existent categories"
I'm running into more consistency issues while importing the codelists into a relational DB.

OrganisationRegistrationAgency contains category elements that do not exist in its category codelist: Country: XM and XI.

[code]

[2016-04-18 14:09] WimVanDerZijden opened #93 "FileFormat does not specify a category-codelist"
The codelist FileFormat has category elements on its codelist-items, but does not specify a category-codelist attribute.

[code]

[2016-06-23 22:24] stevieflow opened #94 "PolicyMarkerVocabulary codelist missing a value?"
Guidance on [Humanitarian Reporting](http://iatistandard.org/202/activity-standard/overview/humanitarian-reporting/) states:

However, this Codelist [seems to be missing a code 2](http://iatistandard.org/202/codelists/PolicyMarkerVocabulary/) (I think)

[2016-07-26 08:43] wendyrogers opened #95 "Improve descriptions of Transaction Types for Incoming Commitment & Commitment"
It has been requested that we make the descriptions and differences between an Incoming Commitment and Commitment more explicit and clearer on the Transaction Type codelist at http://iatistandard.org/202/codelists/TransactionType/

[2016-07-27 16:33] stevieflow opened #96 "Indicator Vocabulary is wrong for US Foreign Assistance Framework"
http://iatistandard.org/202/codelists/IndicatorVocabulary/

Link for US Foreign Assistance Framework is not correct

It should be http://www.state.gov/f/indicators/
(which in turn points to http://www.state.gov/documents/organization/260455.xlsx)

[2016-07-27 16:34] stevieflow commented on #96
Opened in non-embedded repo: https://github.com/IATI/IATI-Codelists-NonEmbedded/issues/119

[2016-07-27 16:34] #96 closed, assigned to nobody

[2016-09-07 14:56] rorads opened #97 "Translating adding French translations to selected codelists"
After a request from out community, several codelists will have French translations added:

[code]

[2016-09-13 18:44] YohannaLoucheur commented on #60
A colleague just signaled that the translation for the Related Activity Type codelist is somewhat funny.
It was translated as:
parent: mère (mother)
child: fille (daughter)
sibling: jumelle (female twin)

We would suggest more neutral terms:
parent: parent
child: descendant
sibling: fratrie

[2016-09-14 14:02] rorads commented on #60
Thank you for pointing this out, Yohanna. That does look a little off! I will incorporate your suggestions asap.

Thanks,
Rory

[2017-02-16 16:52] dalepotter opened #101 "Amend URLs on SectorVocabulary codelist"
See http://discuss.iatistandard.org/t/approved-update-sdg-targets-indicators-links-on-sector-vocabulary/703

[2017-02-23 15:16] dalepotter commented on #101
This change has now been resolved: http://iatistandard.org/202/codelists/SectorVocabulary/

[2017-02-23 15:16] #101 closed, assigned to nobody

[2017-09-11 13:41] allthatilk opened #110 "Update URL for code 10 for SectorVocabulary codelist"
See https://discuss.iatistandard.org/t/approved-amend-url-link-for-humanitarian-clusters-sector-vocab-codelist/981

[2017-11-01 10:44] allthatilk opened #112 "Update TransactionType Codelist"
Make the following changes to the TransactionType Codelist:

**Update name:**
- [x] Code 2 new name: `Outgoing Commitment`
- [x] Code 5 new name: `Interest Payment`

**Update description:**

- [x] Code 3 new description: `Outgoing funds that are placed at the disposal of a recipient government or organisation, or funds transferred between two separately reported activities.`

- [x] Code 4 new desc

[2017-11-01 10:53] allthatilk opened #113 "Update OrganisationType Codelist"
**NOTE:** This Codelist is currently Embedded. There is a related change to make it Non-Embedded.

Update OrganisationType Codelist to include:

**Codes to add:**
- [ ] Code `11`
  - [ ] Name: `Local Government`
- [ ] Code `24`
  - [ ] Name: `Partner Country based NGO`
- [ ] Code `71`
  - [ ] Name: `Private Sector in Provider Country`
- [ ] Code `72`
  - [ ] Name: `Private Sector in Aid Recipient

[2017-11-01 10:59] #113 closed, assigned to nobody

[2017-11-01 11:12] hayfield commented on #113
Moved to IATI/IATI-Codelists-NonEmbedded#182

[2017-11-01 11:21] hayfield opened #114 "Move Codelists from Embedded to Non-Embedded"
Work primarily complete, just a few PRs to merge:

- [x] https://github.com/IATI/IATI-Codelists-NonEmbedded/pull/220
- [x] https://github.com/IATI/IATI-Codelists/pull/126
- [x] https://github.com/IATI/IATI-Codelists/pull/127
- [x] https://github.com/IATI/IATI-Codelists/pull/128
- [x] https://github.com/IATI/IATI-Codelists/pull/129
- [x] https://github.com/IATI/IATI-Codelists/pull/130

---

Remove

[2017-11-01 13:37] hayfield commented on #110
This has been resolved in #111

[2017-11-01 13:37] #110 closed, assigned to nobody

[2017-11-01 14:08] hayfield commented on #94
The referenced guidance was removed in IATI/IATI-Extra-Documentation#320.

[2017-11-01 14:08] #94 closed, assigned to nobody

[2017-11-01 14:09] hayfield commented on #97
Translations were added in #98

[2017-11-01 14:09] #97 closed, assigned to nobody

[2017-11-01 14:15] hayfield commented on #60
Updated in 1c3d0623f3d50e9ffb53604f59690f10e55b9ceb and #98

[2017-11-01 14:15] #60 closed, assigned to nobody

[2017-11-01 14:19] hayfield commented on #95
This is to occur with `2.03` through the changing of the name of `Commitment` to `Outgoing Commitment`.

See: #112

[2017-11-01 14:19] #95 closed, assigned to nobody

[2017-11-01 14:20] hayfield commented on #91
This has been added as a bugfix to undertake during the migration of the `BudgetIdentifierSector` to become a Non-Embedded Codelist.

See: #114

[2017-11-01 14:22] hayfield commented on #92
@IATI/bas How do the org-id changes impact this?

[2017-11-01 14:28] hayfield commented on #67
This was not undertaken for `2.01`.

A full review of missing / questionable Code descriptions should be undertaken as a patch upgrade.

@IATI/bas

[2017-11-01 14:28] #67 closed, assigned to nobody

[2017-11-06 14:41] #90 closed, assigned to hayfield

[2017-12-05 10:37] allthatilk opened #119 "Add BudgetNotProvided codelist"
The addition of the new BudgetNotProvided codelist will be added as a new issue on the IATI-Codelist repository.

When complete, completes https://github.com/IATI/IATI-Schemas/issues/337 also.

[2017-12-05 11:24] #119 closed, assigned to nobody

[2017-12-12 12:17] hayfield commented on #114
The version of the Codelists being moved to Non-Embedded is the `2.02` Embedded version.

[2018-01-17 14:39] stevieflow commented on #95
Isn't the description also in need of an update too, though (they are currently the same)?

[2018-01-17 14:42] stevieflow commented on #112
Isn't code 2 (Commitment - to be renamed as Outgoing Commitment) also in need of a description update?  This description is currently *exactly* the same as 11 (Incoming Commitment).

This will be very confusing for people @bill-anderson

[2018-01-17 17:20] PetyaKangalova commented on #112
@stevieflow

Yes, the code is being renamed. The current definitions for transaction type 2 and 11 are **not** exactly the same- see in [here](http://iatistandard.org/202/codelists/TransactionType/) and below.

**2  -  Commitment (to be changed to outgoing commitment)**-   A firm, written obligation from a donor or provider to provide a specified amount of funds, under particular terms and conditi

[2018-01-18 07:57] stevieflow commented on #112
OK thanks @PetyaKangalova

My feedback (based on instances with users who have struggled to understand the "subtle" differences in definitions) is that the "from a donor" aspect for (Outgoing) Commitment is rather confusing.  Out + from don't sit well together.

Equally, I dont see why we have to describe who *might* be making this commitments (a donor or provider) as that bleeds into specific con

[2018-01-18 11:29] PetyaKangalova commented on #112
@stevieflow Yes,  I think it would be better to add to IATI Discuss.  Thanks!

[2018-01-18 17:02] stevieflow commented on #112
See: https://discuss.iatistandard.org/t/outgoing-commitment-conflicting-description-use/1183

[2018-01-18 17:05] stevieflow commented on #95
I dont believe this should be closed.  The descriptions of these have not been worked on, only the names: https://discuss.iatistandard.org/t/outgoing-commitment-conflicting-description-use/1183

[2018-02-14 11:06] #91 closed, assigned to nobody

[2018-02-14 11:08] hayfield commented on #114
Done! :D

[2018-02-14 11:08] #114 closed, assigned to nobody

[2018-02-16 14:40] #112 closed, assigned to nobody

[2018-02-24 13:44] andylolz opened #138 "Remove reference to the BudgetIdentifier codelist in the definition of country-budget-items/budget-item/@code"
The [IATI TAG Standards Day notes](https://docs.google.com/spreadsheets/d/1RRE5IjyirIp-JFRF94JUNL6IEKnEU42uGzlWoj1yJ0A/edit#gid=0) (row 103) says:

[2018-02-26 12:45] andylolz opened #140 "Missing mapping for SectorCategory"
There’s currently a mapping for Sector:

https://github.com/IATI/IATI-Codelists/blob/a1f0f29010a827c54026ef000cad5d740b2b9471/mapping.xml#L305-L309

…but no equivalent mapping for SectorCategory. According to SectorVocabulary, SectorCategory can be used if `vocabulary="2"` is specified, so I guess this should be included in mapping.xml.

Obviously it’s preferable to use 5 digit sector codes, so pe

[2018-03-09 09:36] andylolz opened #152 "old.py can be replaced with v2tov1.py (v1.0x)"
v1.0x branches contain a script called old.py ([e.g.](https://github.com/IATI/IATI-Codelists/blob/version-1.05/old.py)). It’s almost identical to v2tov1.py (in v2.0x branches, [e.g.](https://github.com/IATI/IATI-Codelists/blob/version-2.03/v2tov1.py)), except that it operates on a different directory.

However, since the script is called by gen.sh, we know that the contents of these directories is

[2018-03-09 10:38] andylolz opened #153 "Minor weird bug: v1.0x doesn’t output clv3 codelists"
It’s a bit surprising that the following all work fine:

 * http://iatistandard.org/201/codelists/downloads/clv1/mapping.json
 * http://iatistandard.org/201/codelists/downloads/clv2/mapping.json
 * http://iatistandard.org/201/codelists/downloads/clv3/mapping.json
 * http://iatistandard.org/105/codelists/downloads/clv1/mapping.json
 * http://iatistandard.org/105/codelists/downloads/clv2/mapping.jso

[2018-03-22 09:55] andylolz opened #154 "TransactionType 12 and 13 should have `status` and `activation-date` attributes"
On the [IATI Codelist Management](http://reference.iatistandard.org/203/codelists-guides/codelist-management/) page, the section “[Code status, addition and withdrawal dates](http://reference.iatistandard.org/203/codelists-guides/codelist-management/#code-status-addition-and-withdrawal-dates)” says:

I think that means the newly added `TransactionType`s `12` and `13` should have `status` and `acti

[2018-05-29 14:46] andylolz opened #161 "Codelist API bug: XML filename extension is missing for EarmarkingCategory"
Filename extension is missing here:
http://iatistandard.org/203/codelists/downloads/clv3/xml/EarmarkingCategory

Looks like this is the only codelist affected:
http://iatistandard.org/203/codelists/downloads/clv3/xml/

[2018-05-29 22:00] andylolz commented on #161
Aha – this newly added codelist is [missing a file extension](https://github.com/IATI/IATI-Codelists-NonEmbedded/pull/251/files).

I’ve fixed this in IATI/IATI-Codelists-NonEmbedded#255.

[2018-05-29 22:00] #161 closed, assigned to nobody

[2018-07-27 09:42] andylolz opened #167 "Description for Budget Type is incorrect"
The description for the [Budget Type codelist](http://reference.iatistandard.org/codelists/BudgetType/) says:

It looks like this was originally the description for the Collaboration Type codelist:

https://github.com/IATI/IATI-Codelists/blob/2fef49c21d98809ab4d7b6a4a9d95278f91d3bdd/codelist.xml#L56-L61

But due to a copy and paste error in 319478e9, it was accidentally migrated to the Budget Type

[2018-09-18 11:51] andylolz opened #169 "v2.03 bug: `transaction/aid-type` and `default-aid-type` mappings should include a `@vocabulary` condition"
Originally raised [on IATI discuss](https://discuss.iatistandard.org/t/default-aid-type-for-activity-v-2-03/1480), so credit to @eimis for spotting it :clap:

---

In the [`transaction/aid-type/@code` v2.03 docs](http://reference.iatistandard.org/203/activity-standard/iati-activities/iati-activity/transaction/aid-type/#attributes), it currently says:

That’s not true, though. Since v2.03, the valu

[2018-09-19 16:19] amy-silcock commented on #169
@PetyaKangalova please could you have a look through these tomorrow before we merge? And we'll see if rebuilding the iati-activities-schema.xsd pulls through the 2.03 added guidance onto the site :)

[2018-09-25 12:37] amy-silcock commented on #169
This is now fixed and on the website. Good work all.

http://reference.iatistandard.org/203/activity-standard/iati-activities/iati-activity/default-aid-type/

[2018-09-25 12:37] #169 closed, assigned to PetyaKangalova

[2018-09-25 13:24] andylolz commented on #169
Looks wrong on the website still. I’m expecting this:

…to instead say:

When it says that, then it’s clear that the fix for this is working.

The IATI-Codelist submodule on IATI-Standard-SSOT was last updated a month ago, so that’s probably why. [Auto-deploying would save headaches.]

[2018-09-25 13:27] andylolz commented on #167
Note that this issue was originally raised by Valerie from the OECD.

[2018-09-25 15:02] amy-silcock commented on #169
@andylolz have a look now?

[2018-09-25 16:54] andylolz commented on #169
Perfect! Thanks @amy-silcock.

[2018-11-08 09:59] andylolz opened #172 "BUGFIX: Swap descriptions for activity status 3 & 4; clarify names (v2.0x)"
This issue was raised and discussed here:
https://discuss.iatistandard.org/t/activitystatus-codes-mixup-of-descriptions-for-codes-3-4/304

The conclusion was that the descriptions for activity status 3 & 4 should be swapped. This was signed off by @bill-anderson here:
https://discuss.iatistandard.org/t/tag-session-on-reviewing-the-need-for-a-next-minor-or-major-iati-standard-upgrade/1535/8

[2018-11-08 10:23] samuele-mattiuzzo commented on #172
👍

Just holding this for a while (hopefully no longer than a few hours), just to make sure we're merging the right bugfix here (description swap vs code swap vs potential name rename). We're going through the discuss posts and discussing this with Bill and the BAs (name for a new rock band?)

Fwiw, with my understanding, what you did to fix this (swapping the description) seems to be the most sens

[2018-11-08 10:57] andylolz commented on #172
+1, defo check with them. It would be good to get their verification that the fix applied here was the one agreed upon.

I’d buy the tee-shirt

[2018-11-08 14:30] samuele-mattiuzzo commented on #172
Seems like the bug-fixing actioning has been agreed upon, but not on the actual solution. I think simply swapping the description around, albeit valid as per my previous comment, isn't complete (I think it would also require the names to be changed) nor is what has been agreed. Still awaiting for more clarification on the matter though, just updating since my last "hopefully it'll take a few hours

[2018-11-08 14:49] andylolz commented on #172
Hi @samuele-mattiuzzo,

No worries at all. I was maybe too keen to send these PRs. It might be quicker and easier to discuss at TAG. A bunch of the people on the discuss thread will be present, and can clarify / summarise far better than me. So, I’d suggest parking this until next week.

EDIT: Just to add: I do think consensus has been reached on this. But I think it will probably be beneficial fo

[2018-11-08 14:51] samuele-mattiuzzo commented on #172
Tagged as incomplete for now, we'll reassess next week :)

[2018-11-08 20:54] YohannaLoucheur commented on #172
Thanks Andy for following up with the pull request for the bugfix. It will be good to see this tidied up finally.

Samuele said:

The agreed solution is indeed to simply swap the descriptions for code 3 & 4, per Andy's pull request.
The names don't *have* to be changed for the solution to be complete. Changing the names was indeed brought up in the post, as a potential additional change to clarify

[2018-11-27 11:51] samuele-mattiuzzo commented on #172
@andylolz have you seen this update? https://discuss.iatistandard.org/t/activitystatus-codes-mixup-of-descriptions-for-codes-3-4/304/65

Don't worry about re-sending the PRs (I saw you cancelled yours), we're on this now that a decision has been made!

[2018-11-27 12:00] andylolz commented on #172
^^ Ooops – only just read this! I’ve already re-sent PRs! :)

[2018-11-27 12:01] andylolz commented on #172
Apologies again for jumping the gun on this. It was my understanding that a decision had already been made, but I realise now I was a bit premature!

[2018-11-27 12:02] samuele-mattiuzzo commented on #172
Yeah saw them 👍 will get on them asap :D

[2018-11-27 12:05] samuele-mattiuzzo commented on #172
fyi, merging and deployment will not happen till next week so that we can give the community some grace time to read the post and all

[2018-11-27 13:55] andylolz commented on #79
I think this issue is fixed, and can be closed.

[2018-11-27 14:20] #79 closed, assigned to nobody

[2018-11-27 16:44] #167 closed, assigned to samuele-mattiuzzo

[2018-11-27 16:44] #140 closed, assigned to samuele-mattiuzzo

[2018-11-27 16:52] andylolz commented on #140
Looks good!

[2018-11-27 16:55] andylolz commented on #167
Great – looks good! Would be good to add a new description for the Budget Type codelist. /cc @PetyaKangalova.

[2018-12-14 11:41] andylolz opened #183 "Bug: codelists.xml and codelists.json include duplicate elements (all versions)"
So for example, clv2 for v2.03:
 * http://reference.iatistandard.org/203/codelists/downloads/clv2/codelists.xml
 * http://reference.iatistandard.org/203/codelists/downloads/clv2/codelists.json

There are two copies of every item in these lists. This happens because the lists are initialised outside of the language for-loop, but appended to inside the for-loop. So we end up with a copy of the same

[2018-12-16 11:13] andylolz opened #189 "Add `embedded` boolean to codelists’ attributes"
Currently, there’s no way of knowing whether a codelist is embedded or non-embedded via the codelist API. The only way to know is to go to the repo directly – [that’s how the reference site generator does it](https://github.com/IATI/IATI-Standard-SSOT/blob/b84386da0ec40187aacee863e627d8a3e317446f/gen.py#L530).

It would be useful to add this information to the codelists’ attributes, or to [codelis

[2018-12-16 11:14] andylolz commented on #172
This looks fixed on production :clap: :rocket: :woman_astronaut:

Closing.

[2018-12-16 11:14] #172 closed, assigned to samuele-mattiuzzo

[2018-12-16 11:30] andylolz opened #190 "Make available a mapping from v1.0x to v2.0x embedded codelist codes"
Some codelist codes were changed between v1.05 and v2.01. For instance TransactionType codes changed from being [alphabetic at v1.05](https://github.com/IATI/IATI-Codelists/blob/version-1.05/xml/TransactionType.xml) to [numeric at v2.01](https://github.com/IATI/IATI-Codelists/blob/version-2.01/xml/TransactionType.xml). The same is true for [OrganisationRole](https://github.com/IATI/IATI-Codelists/

[2018-12-16 20:19] andylolz commented on #190
Here’s the mappings I was able to determine. Not sure if it’s exhaustive, but I think so.

## TransactionType
`C` -> `2`
`D` -> `3`
`E` -> `4`
`IF` -> `1`
`IR` -> `5`
`LR` -> `6`
`R` -> `7`
`QP` -> `8`
`QS` -> `9`
`CG` -> `10`

## OrganisationRole
`Accountable` -> `2`
`Extending` -> `3`
`Funding` -> `1`
`Implementing` -> `4`

## GazetteerAgency
`GEO` -> `1`
`NGA` -> `2`
`OSM` -> `3`

## ActivityDa

[2018-12-17 10:33] samuele-mattiuzzo commented on #183
good catch, thanks Andy!

[2018-12-17 11:59] samuele-mattiuzzo commented on #190
Sounds like a sensible suggestion, will bring @PetyaKangalova into this to confirm what mappings are needed.

How would you suggest exposing this list? A `mapping_1_to_2.xml` of sorts, like the `dfid_mapping.xml` file? How do you see this being used? Just wondering if it needs a machine-readable way of being accessed or if it could just be a new page on the reference site (I reckon option no. 1 co

[2018-12-17 12:17] andylolz commented on #190
Yes exactly – that sort of thing. I’m not entirely decided on a recommended approach yet, though.

+1 for making this available in a machine-readable way. Humans can mostly infer these mappings already – for most of the codelist items listed above, the name is the same or similar between versions.

I suspect other user-facing products like d-portal already define these mappings somehow, e.g.:
http

[2018-12-21 09:54] andylolz opened #196 "Add a changelog notice for activity status bugfix (#172)"
@stevieflow [points out on discuss](https://discuss.iatistandard.org/t/implemented-as-bug-fix-activitystatus-codes-mixup-of-descriptions-for-codes-3-4/304/67):

[2018-12-21 09:55] andylolz commented on #196
Gahhh, wrong repo – apologies!

[2018-12-21 09:55] #196 closed, assigned to nobody

[2019-01-11 11:39] andylolz commented on #172
I’ve just spotted that I didn’t apply this change to v1.0x. Obviously the description changes aren’t relevant there (since there were no descriptions until v2.01) but I guess the name change should be backported.

I’ve just sent PRs #199 and #200 to address this.

/cc @samuele-mattiuzzo.

[2019-01-15 14:16] amy-silcock commented on #37
ISO Country Codelist is up to date as of July 2018: http://reference.iatistandard.org/203/upgrades/nonembedded-codelist-changelog/

[2019-01-15 14:16] #37 closed, assigned to nobody

[2019-01-15 14:21] amy-silcock commented on #92
XM and XI refer to:

X = No country
I = international organisation
M = multilateral organisation

Does that help @WimVanDerZijden?

[2019-01-15 17:34] andylolz commented on #92
This has since been changed, so that the category used for these codes is `-`. See for example: https://github.com/IATI/IATI-Codelists-NonEmbedded/blob/0d12745eff6e119441b295b851f8a2364b1bcafc/xml/OrganisationRegistrationAgency.xml#L3005-L3023

This seems arguably worse, but it’s directly imported from org-id.guide, so it’s best to raise the issue here: https://github.com/openDataServices/org-ids/

[2019-01-18 09:46] andylolz commented on #92
I’ve done so here: https://github.com/OpenDataServices/org-ids/issues/212

…so I think it’s fine to close this.

[2019-01-18 14:37] PetyaKangalova commented on #92
Thanks, closing the issue.

[2019-01-18 14:37] #92 closed, assigned to nobody

[2019-04-05 14:47] andylolz commented on #183
This is fixed!

[2019-04-05 14:47] #183 closed, assigned to nobody

[2019-04-05 14:48] andylolz commented on #189
This is fixed!

[2019-04-05 14:48] #189 closed, assigned to nobody

[2019-04-09 10:51] sargentfrancesca opened #204 "Add new element to reflect codelist category"
As per the codelist category update, add new metadata field to reflect the new categories in all codelists. In the case of this repository, the category value will be `Core`.

This can be completed as a script.

Please take into consideration versioning, and how codelists may have changed categories between versions.

[2019-04-09 11:00] sargentfrancesca opened #205 "Amend gen script to add new codelist element to json, csv exports"
Amend `gen.py` generation script to include the new category element in `json` and `csv` exports.

[2019-04-09 11:03] sargentfrancesca opened #206 "Update README to reflect new codelist category changes"

[2019-04-09 12:51] Ocre42 commented on #204
Blocked until the new category names are defined and the redefined list is updated

[2019-04-09 13:06] Ocre42 commented on #205
metadata fields are not included in the csv for `gen.py`, I'll do the work for the json files.

[2019-05-07 13:03] Ocre42 commented on #206
Fixed

[2019-05-07 13:03] #206 closed, assigned to Ocre42

[2019-05-07 13:03] Ocre42 commented on #205
Fixed

[2019-05-07 13:03] #205 closed, assigned to Ocre42

[2019-05-07 13:03] Ocre42 commented on #204
Fixed

[2019-05-07 13:03] #204 closed, assigned to Ocre42

[2019-07-16 15:32] andylolz opened #236 "mapping.json should be removed"
mapping.json gets auto-generated from the canonical mapping.xml by mappings_to_json.py. Since it’s auto-generated, it probably shouldn’t be part of the repo.

I had a set of pull requests to gitignore it (#142) and then a set to auto-remove it (#151), because it is super easy to accidentally add it.

Anyway, it has now been accidentally added, and should be removed.

[2019-07-19 08:17] andylolz commented on #236
Fixed in #239.

[2019-07-19 08:17] #236 closed, assigned to nobody

[2019-07-24 14:36] samuele-mattiuzzo opened #240 "Question for our Community: is anybody using any of the scripts that are included within this repository?"
As per opening topic: any of you using the scripts included in here?

I'm keen on keeping them confined within the (new and in progress) `IATI-Standard-Reference-Site` (https://github.com/samuele-mattiuzzo/IATI-Standard-Reference-Site/tree/dev) so that `IATI-Codelist` stays content oriented (XML only, basically).

Is anyone currently using the scripts from within this repo to build anything out of

[2019-07-24 15:07] andylolz commented on #240
[referencebot](https://github.com/referencebot) uses these scripts.

I don’t mind. Referencebot was supposed be a tool that BAs could use / was supposed to demonstrate that it’s trivial to spin up new instances of the reference site. In practice, it isn’t really used, so I think it’s fine to break it.

[2019-07-24 15:11] andylolz commented on #240
+1, I think this would be a move in the right direction.

I guess the main user of these scripts is the reference site itself. So I guess that means they shouldn’t be removed until the reference site is no longer reliant on them. (Apologies if I’m stating the obvious here).

[2019-07-24 17:02] rorads commented on #240
I don't use them, so I have no issue with them being moved 😄

If they're unlikely to be used anywhere else, then perhaps it would be sufficient to just stick them in a folder and note in a directory readme that any file references will need to have `../` put in front of them would do it? So something like:

[code]

Mainly thinking this might save you some effort, but either way seems fine to me 😁

[2019-07-24 19:13] samuele-mattiuzzo commented on #240
True, that was thought number 2, but thought number one is always along the lines of `if we do have a bug in one script, how many versions does it need checking and fixing on as well?` and so far the count has always tallied up to 6 at least

I know that we deprecated `v1.x` but I think (thanks to @andylolz for kickstarting this a wee few months back) abstracting build from content is absolutely n

[2019-07-25 06:15] rolfkleef commented on #240
I don't use them, so fine with me.

Since these are the embedded codelists tied to a specific version of the standard, I'd be in favour of putting schema and codelists into a single repository.

[2019-07-25 06:23] rorads commented on #240
Ah good point re: versioning - go ahead :)

[edit: removed email footer]

[2019-07-25 07:25] andylolz commented on #240
Adding a reference here to IATI/IATI-Standard-SSOT#227

[2019-07-25 08:34] samuele-mattiuzzo commented on #240
Thanks Andy. Haven't updated that one yet, but there will be updates about it soon.

Please let's not kickstart another conversation/argument there :)
Thanks to everybody for your responses and inputs, it's more than enough to go on with.

FWIW: the same "tidy up" job will be done on the SSOT branches as well, and the work for the split site has been carried on in one of my own GitHub repositories

[2019-07-25 08:34] #240 closed, assigned to samuele-mattiuzzo, Ocre42

[2019-07-25 16:44] andylolz opened #241 "mapping.xml is out of sync on different branches"
#235; #237; #238 are good PRs, but they should all have been duplicated to other branches.

The SSOT & reference site have since been updated, so the mappings on the different versions are out of sync.

It would be good to rectify this.

[2019-07-26 08:48] andylolz commented on #241
This is fixed for all v2.0x branches.

I haven’t attempted to address v1.0x branches.

If I did that work / sent those PRs, would they be considered?

[2019-07-26 08:56] samuele-mattiuzzo commented on #241
I will ask the BAs what they reckon as well, imho it's not worth doing as we have dropped v1 and the reference guide has been archived, it's not used for validation etc

[2019-07-26 09:15] andylolz commented on #241
Okay, cool. That works for me. ~~I’ll leave this for you to close if the BAs agree.~~ Closing.

Thanks!

[2019-07-27 11:26] andylolz opened #244 "mapping.xml should include mappings for new tag vocabularies"
References IATI/IATI-Codelists-NonEmbedded#303.

^^ This PR adds two new tag vocabularies, both of which use replicated codelists. Therefore the mappings for these should be added.

[2019-08-07 10:49] andylolz commented on #244
Done in #245. Closing.

[2019-08-07 10:49] #244 closed, assigned to nobody

[2019-08-07 10:50] samuele-mattiuzzo commented on #154
@IATI/bas anyone can take a look at this?

[2019-08-07 10:50] #241 closed, assigned to nobody

[2021-03-26 19:27] andylolz opened #252 "Add UNSDG-Goals and UNSDG-Targets to mapping.xml"
[Sector vocabularies](https://iatistandard.org/en/iati-standard/203/codelists/sectorvocabulary/) `7` and `8` refer to the [UNSDG-Goals](https://iatistandard.org/en/iati-standard/203/codelists/unsdg-goals/) and [UNSDG-Targets](https://iatistandard.org/en/iati-standard/203/codelists/unsdg-targets/) codelists respectively. So these mappings should be included in the v2.0x mapping.xml files.

[2021-03-30 20:48] #154 closed, assigned to nobody

[2021-03-30 20:48] #152 closed, assigned to nobody

[2021-03-30 20:48] #153 closed, assigned to nobody

[2021-03-30 20:50] andylolz commented on #190
v1.0x is deprecated now, so it’s unlikely this will happen. Closing.

[2021-03-30 20:50] #190 closed, assigned to nobody

[2021-04-15 14:41] andylolz commented on #252
@PetyaKangalova @amy-silcock sorry to bump this… Is it possible to get this resolved?

If you’re happy with #253, it would be great if that could be merged.

[2021-04-16 13:21] #252 closed, assigned to nobody

[2022-07-27 12:32] #138 closed, assigned to nobody